<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="foto">
 <img src="../../assets/imagen3.jpg" alt="">
</div>

<div class="textoProducto">
 <h3><strong>HP Essential 255 G8 AMD</strong></h3>
 <h3><strong>5 5500U/8GB
 SSD/15.6"</strong> </h3></div>
  <div class="precios">
  <h2 id="precio">599€</h2>
  <div class="SinIva">
  <h4 >Sin IVA</h4>
  <h4><strong>470€</strong></h4>
</div>
<ion-icon name="stats-chart-outline" id="stats"></ion-icon>
</div>
<div class="opina">
<p>Opina</p>
<p id="vendido">Vendido y enviado por PcShop</p>
<strong>Envío :</strong>
</div>
<div class="envioStock">
<p>
<strong id="envio">Envio Gratis!!</strong></p>
<h6 id="stock">En Stock! </h6>
<h6 id="cuando">Recibelo el martes 18 Octubre</h6>
</div>
<div class="botonProducto">
<ion-fab-button  id="boton2" href="tabs/tab2">
  <ion-icon name="briefcase" ></ion-icon>

</ion-fab-button>
<ion-fab-button id="boton3" color="nuevo">
  <ion-icon name="heart"></ion-icon>

</ion-fab-button>



<ion-button  type="submit" expand="block" color="warning" id="boton1" >Comprar Ya</ion-button>
</div>
</ion-content>
