<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="cesta">
  <img src="../../assets/Logo.png" alt="" id="logo">
  <nav class="cestaAa">
    <h6>Productos en la cesta</h6> <h6 id="cestaNum">1</h6>
  </nav>
  <h6>
    
  </h6>
  <div class="foto">
    <img src="../../assets/imagen3.jpg" alt="">
  </div>
  <ion-card>
 <nav class="centrado">
 <h6>HP Essential 255 G8 AMD 5 5500U/8GB SSD/15.6 </h6>
 <h6 id="stock"> <strong>En Stock!</strong>  
 Recibelo el jueves 2 de Diciembre</h6>
</nav>
</ion-card>
<nav class="botones">
  <nav class="cantidadItems">
  <ion-button (click)="funcion(2)" id="itemB" color="medium"><ion-icon name="trash-outline"></ion-icon></ion-button>
  <label id="cantidad">1</label>
  <ion-button (click)="funcion(1)" id="itemB"><ion-icon name="add-outline"></ion-icon></ion-button>
</nav>
  <div class="botonEliminarCesta">
  <ion-button  type="submit" expand="block"  color="medium" id="boton3" class="ion-text-capitalize">
    <ion-icon name="trash-outline"></ion-icon>
    Eliminar</ion-button>
    </div>
    
  <div class="finalizarCompra">
    <ion-card>
   

  <nav class="precio">
    <h5 id="total">Total:</h5>
    <h3 slot="end" id="precio"><strong>500 €</strong></h3>

  </nav>
</ion-card>
</div>
<div class="botonSeguir">
  <ion-button  type="submit" expand="block"  color="success" id="boton2" class="ion-text-capitalize">
    Seguir Comprando</ion-button>
  </div>
    <ion-button href="/tabs/tab5" type="submit" expand="block"  color="dark" id="boton2" class="ion-text-capitalize">
      <ion-icon name="bag-add-outline" id="compraMas"></ion-icon>
      Finalizar Compra</ion-button>
</nav>
</div>
 
</ion-content>
