ion-grid{
    width: 200px;
    padding-top:20px;
  
}

p{
    text-align: center;
    font-size: 15px;
}
#cestaNum{
    width: 12px;
    border: 1px solid ;
    margin-left: 6px;
}
.cestaAa{
display: flex;
flex-direction: row;

}