<ion-header >
  <ion-toolbar>
 
    <div class="centrado">
      <ion-buttons >
        <ion-button color="secondary">
          <ion-icon name="compass-outline" id="ubicacion"></ion-icon>
        </ion-button>
      </ion-buttons>
  
        <ion-searchbar [animated]="true" ></ion-searchbar>
    
          <ion-buttons >
            <ion-button color="secondary" href="tabs/tab3">
        <ion-icon name="person-circle-outline" id="perfil"></ion-icon>
            </ion-button>
        </ion-buttons>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="anuncio">
    <ion-slides [options]="slideOpts" pager="true" > 
      <ion-slide> 
        <img src="../../assets/imagen.jpg" alt="">     
      </ion-slide> 
      <ion-slide> 
        <img src="../../assets/anuncio2.jpg" alt="">      
      
     
       </ion-slide> 
      </ion-slides> 

</div>

<div class="filtro1" >
  <ion-button color="tertiary">
  <ion-icon name="funnel"></ion-icon>
</ion-button>
<div class="filtro2">
  <ion-button color="tertiary">
  <ion-icon name="apps"></ion-icon>
</ion-button>
<ion-button color="tertiary">
  <ion-icon name="filter"></ion-icon>
</ion-button>
</div>

</div>
<nav class="tituloCatRec">
<h5 class="ion-text-left">Categorías Recomendadas</h5></nav>
<div class="slideCat">
<ion-slides [options]="slideOpts" pager="false" > 
    <ion-slide class="categoriasRecomen"> 
      <div class="Categorias">
      <img src="../../assets/consolas.jpg" alt="" id="imagenCateg">
      <h6 id="tamaño">Consolas</h6>
      </div>       
     
    <div class="Categorias2">
            <img src="../../assets/MovilRecortado.jpg" alt="" id="imagenCateg">
           <h6 id="tamaño">Teléfonos Móviles</h6>
    </div>
           
   
    
        </ion-slide>  

          <ion-slide class="categoriasRecomen"> 
            <div class="Categorias2">
              <img src="../../assets/sobremesa.jpg" alt="" id="imagenCateg">
              <h6 id="tamaño">Ordenadores SobreMesa</h6>
        </div>
            <div class="Categorias2">
       
              <img src="../../assets/componentes.jpg" alt="" id="imagenCateg">
              <h6 id="tamaño">Componentes</h6>
            </div>
            </ion-slide>
            <ion-slide class="categoriasRecomen2"> 
            <div class="Categorias2">
            <img src="../../assets/monitor.jpg" alt="" id="imagenCateg">
            <h6 id="tamaño">Monitores</h6>
          </div>
            <div class="Categorias2">
            <img src="../../assets/portatil.jpg" alt="" id="imagenCateg">
            <h6 id="tamaño">Portátiles</h6>
          </div>
         
          </ion-slide>              
                               
          
        </ion-slides> 
      </div>
      <div id="container">
<h5 class="ion-text-left">Productos recomendados</h5>
<ion-grid>
  <ion-row>
  <ion-col>
    <div class="ochenta">
    <a href="tabs/tab4">
    <img src="../../assets/alimentacion.jpg" alt="" ></a>
     <span class="TituProdu">Tempest Gaming GPSU </span> <ion-note> Fuente de Alimentación <b>750W</b> </ion-note>
    <div class="iconoPre">
      <a (click)="func(1,this)" (click)="favoritos()" ><ion-icon name="heart" id="corazon1"></ion-icon></a>
   
    <h5>300€</h5>
    </div>
  </div>
  </ion-col>
  <ion-col>
    <div class="ochenta">
    <a href="tabs/tab4">
      <img src="../../assets/portatil.jpg" alt="" ></a>

     <span class="TituProdu">HP Essential </span> <ion-note> 255 G8 AMD 5 5500U/8GB SSD/15.6 </ion-note>
    <div class="iconoPre">
      <a (click)="func(2) " (click)="favoritos()"><ion-icon name="heart" id="corazon2"></ion-icon></a>
   
    <h5>300€</h5>
    </div>
  </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div class="ochenta">
    <a href="tabs/tab4">
      <img src="../../assets/cascos.jpg" alt="" ></a>

     <span class="TituProdu">Auriculares Gaming </span> <ion-note> Logitech  <b>G332 </b> </ion-note>
    <div class="iconoPre">
      <a (click)="func(3) "(click)="favoritos()"><ion-icon name="heart" id="corazon3"></ion-icon></a>
   
    <h5>300€</h5>
    </div>
  </div>
  </ion-col>
  <ion-col>
    <div class="ochenta">
    <a href="tabs/tab4">
      <img src="../../assets/tablets.jpg" alt="" ></a>

     <span class="TituProdu">Lenovo Tab  </span> <ion-note>  M10 FHD Plus 10.3" 4/128GB <b>Gris </b> </ion-note>
    <div class="iconoPre">
      <a (click)="func(4)" (click)="favoritos()"><ion-icon name="heart" id="corazon4"></ion-icon></a>
   
    <h5>300€</h5>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a class="float" target="_blank">
<i class="fa fa-paper-plane my-float"></i>
</a>
  </div>
  </ion-col>

</ion-row>
  </ion-grid>
</div>
</ion-content>
