<ion-header >
  <ion-toolbar>
 
    <div class="centrado">
      <ion-buttons >
        <ion-button color="secondary">
          <ion-icon name="compass-outline" id="ubicacion"></ion-icon>
        </ion-button>
      </ion-buttons>
  
        <ion-searchbar [animated]="true" ></ion-searchbar>
    
          <ion-buttons >
            <ion-button color="secondary" href="tabs/tab3">
        <ion-icon name="person-circle-outline" id="perfil"></ion-icon>
            </ion-button>
        </ion-buttons>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="anuncio">
    <ion-slides [options]="slideOpts" pager="true" > 
      <ion-slide> 
        <img src="../../assets/imagen.jpg" alt="">     
      </ion-slide> 
      <ion-slide> 
        <img src="../../assets/anuncio2.jpg" alt="">      
      
     
       </ion-slide> 
      </ion-slides> 

</div>

<div class="filtro1" >
  <ion-button color="tertiary">
  <ion-icon name="funnel"></ion-icon>
</ion-button>
<div class="filtro2">
  <ion-button color="tertiary">
  <ion-icon name="apps"></ion-icon>
</ion-button>
<ion-button color="tertiary">
  <ion-icon name="filter"></ion-icon>
</ion-button>
</div>

</div>

<div class="slideCat">
<ion-slides [options]="slideOpts" pager="false" > 
    <ion-slide class="categoriasRecomen"> 
      <div class="Categorias">
      <img src="../../assets/consolas.jpg" alt="" id="imagenCateg">
      <h6 id="tamaño">Consolas</h6>
      </div>       
     
    <div class="Categorias2">
            <img src="../../assets/MovilRecortado.jpg" alt="" id="imagenCateg">
           <h6 id="tamaño">Teléfonos Móviles</h6>
    </div>
           
   
    
        </ion-slide>  
          <ion-slide class="categoriasRecomen"> 
            <div class="Categorias2">
              <img src="../../assets/sobremesa.jpg" alt="" id="imagenCateg">
              <h6 id="tamaño">Ordenadores SobreMesa</h6>
        </div>
            <div class="Categorias2">
       
              <img src="../../assets/componentes.jpg" alt="" id="imagenCateg">
              <h6 id="tamaño">Componentes</h6>
            </div>
            </ion-slide>
            <ion-slide class="categoriasRecomen2"> 
            <div class="Categorias2">
            <img src="../../assets/monitor.jpg" alt="" id="imagenCateg">
            <h6 id="tamaño">Monitores</h6>
          </div>
            <div class="Categorias2">
            <img src="../../assets/portatil.jpg" alt="" id="imagenCateg">
            <h6 id="tamaño">Portátiles</h6>
          </div>
         
          </ion-slide>              
                               
          
        </ion-slides> 
      </div>
<h6>Productos mas recomendados</h6>
<ion-grid>
  <ion-row>
  <ion-col>
    <a href="tabs/tab4">
    <img src="../../assets/alimentacion.jpg" alt="" ></a>
    <p>Tempest Gaming GPSU Fuente de Alimentación 750W</p>
    <div class="iconoPre">
      <a (click)="func(1)"><ion-icon name="heart" id="corazon1"></ion-icon></a>
   
    <h5>300€</h5>
    </div>

  </ion-col>
  <ion-col>
    <img src="../../assets/portatil.jpg" alt="">
    <p>HP 15S-fq2095ns Intel Core i3-1115G4/8GB/256GB ...</p>
    <div class="iconoPre">
      <a (click)="func(2)"><ion-icon name="heart" id="corazon2" ></ion-icon></a>

        
    
  
      <h5>400€</h5>
      </div>
     
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <img src="../../assets/cascos.jpg" alt="">
    <p>Logitech G332 Auriculares Gaming</p>
    <div class="iconoPre">
      <a (click)="func(3)">  <ion-icon name="heart" id="corazon3" ></ion-icon></a>
     
      <h5>400€</h5>
      </div>
</ion-col>
<ion-col>
  <img src="../../assets/tablets.jpg" alt="">
  <p>Lenovo Tab M10 FHD Plus 10.3" 4/128GB Gris 
  </p>
  <div class="iconoPre">
    <a (click)="func(4)"> <ion-icon name="heart" id="corazon4" ></ion-icon></a>
     
    
    <h5>400€</h5>
    </div>
</ion-col>
</ion-row>
  </ion-grid>

</ion-content>
