#persona{
   
    font-size: 90px;
    

}
.perfil{
        position: absolute;
        margin-top:25%;
        margin-left: 3%;
}

.picture img {
    border: 1px solid #CCCCCC;
    vertical-align:middle;

}
.right {
  
    float:right;
}
.left {

    float:left;
}
.NombreEdit{
    
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}