<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<nav class="perfil"> 
<ion-fab-button color="danger">
  <ion-icon name="person" id="persona"></ion-icon>
</ion-fab-button>

</nav>  

  <img src="../../assets/bannerPerfil.jpg" > 
<div class="NombreEdit">
  <div class="EditarPerfil">
    <a href="">
  <h6 id="nombre">Tu Nombre</h6>
</a>
  <ion-icon name="create" id="editar" ></ion-icon>
  <ion-button color="dark" class="ion-text-capitalize" id="editarPerfil"> Perfil Público <ion-icon name="create" id="editar1" ></ion-icon></ion-button>
</div>
<nav class="Acercade">
<i id="cursiva">Acerca de </i> 
<i id="publico">Público</i>
</nav>
<a href="">Escribe sobre ti</a>

<i id="cursiva">Datos Valiosos</i>
<div class="datosValiosos">
  <ion-fab-button id="datos1" color="success">
    <nav class="fabButton">
    <h3>0</h3>
    <p id="Votos">Votos Útiles</p>
  </nav>
  </ion-fab-button>
  <ion-fab-button id="datos2" color="warning">
    <nav class="fabButton">

    <h3>1</h3>
    <p  id="Votos">Reseñas</p>
    </nav>
  </ion-fab-button>
  <ion-fab-button id="datos3">
    <nav class="fabButton">

    <h3>0</h3>
    <p  id="Votos">Seguidores</p>
    </nav>
  </ion-fab-button>
</div>
<div class="botonConf">
  <ion-button color="warning" class="ion-text-capitalize" id="botonConf3">
    <ion-icon name="car-outline" id="pedidos"></ion-icon>
  Mis Pedidos
  </ion-button>
  <ion-button color="light" class="ion-text-capitalize" id="botonConf2">
    <ion-icon name="shield-checkmark-outline" id="seguridad"></ion-icon>
    Opciones De Seguridad
  </ion-button>
  <ion-button  id="botonConf1" class="ion-text-capitalize" color="light">
    <ion-icon name="settings-outline" id="configuracion"></ion-icon>
    Configuración 
   </ion-button>
  </div>
  <ion-fab-button id="CerrarSesion"  color="tertiary" href="/login">
    <ion-icon name="power-outline"></ion-icon>
    <h6 id="TextoCerrar">
      Cerrar Sesion</h6>
  </ion-fab-button>

</div>
</ion-content>
